@import "./variables.scss";

h1 {
  color: $primary-color;
  font-family: $primary-font;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  & h1 {
    background-color: transparent;
    transition: background-color 0s, background-color 0.2s linear;
  }
  &:hover {
    & h1 {
      background-color: $secondary-color;
      text-decoration: line-through;
      text-decoration-thickness: 2px;
    }
  }
}